<section id="widget-grid" class="">
				
    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <h2>Customers</h2>

                </header>

                <div>


                    <!-- widget content -->
                    <div class="widget-body no-padding" *ngIf="data_dict">

                        <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>			                
                                <tr>
                                    <th><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Name</th>
                                    <th><i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i> Phone</th>
                                    <th>Company</th>
                                    <th>Details</th>
                                    <!-- <th data-hide="phone,tablet"><i class="fa fa-fw fa-map-marker txt-color-blue hidden-md hidden-sm hidden-xs"></i> Zip</th>
                                    <th data-hide="phone,tablet">City</th>
                                    <th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Date</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="sortable" *ngFor="let entity of data_dict; index as i" (click)="selectedRow(i)">
                                    <td>{{entity.name}}</td>
                                    <td>{{entity.phone}}</td>
                                    <td>{{entity.company}}</td>
                                    <td>{{entity.company}}</td>
                                    <!-- <td>Et Rutrum Non Associates</td>
                                    <td>35728</td>
                                    <td>Fogo</td>
                                    <td>03/04/14</td> -->
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

    <!-- end row -->
    

</section>