<section id="widget-grid" class="">

    <!-- row -->

    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- product -->
            <div class="product-content product-wrap clearfix product-deatil">
                <div class="row" *ngIf="entity">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                    
                        <h2 class="name">
                            {{entity.name}} 
                            <small>Company <a href="javascript:void(0);">{{entity.company}}</a></small>
 
                        </h2>
                        <hr>
                        <div class="description description-tabs">


                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Details </a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="more-information">
                                    <br>
                                    <strong>Address</strong>
                                    <p>{{entity.address}}</p>
                                </div>
                                <div class="tab-pane fade active in" id="more-information">
                                    <br>
                                    <strong>Phone</strong>
                                    <p>{{entity.phone}}</p>
                                </div>
                                <div class="tab-pane fade active in" id="more-information">
                                    <br>
                                    <strong>Pan</strong>
                                    <p>{{entity.pan}}</p>
                                </div>
                                <div class="tab-pane fade active in" id="more-information">
                                    <br>
                                    <strong>Alphanumeric</strong>
                                    <p>{{entity.alphanumeric}}</p>
                                </div>
                            </div>
                    

                        </div>
                        <hr>
                        
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>		

    </div>

    <!-- end row -->

</section>